
$sqrt3: 1.73205;
$side: 130px;
$gutter: 17px;
$endsize: 1.5; // gutter * this = height of header and footer
$grids: ($side / 4);
$basefont: ($side * 10/100);

// --------------------------------------------------------
// board and grid colours
$gridc: #e3e3e3;
$sidec: #eef;
$insidec: rgba(200,200,200, 0.2);
$boardc: #ddeeff;
$boardc: #666;

// selection and hover colours
$selectedc: #ffff00;
$hoverc: #ffffcc;
$selhoverc: #ffee00;

// --------------------------------------------------------
// hex colours
$t: transparent; // i'm a lazy typist

$hcbg: #fff; // bg
$hcwl: #ddd; // wall light
$hcwd: #bbb; // wall dark
$hcfl: #afb; // farm light
$hcfd: #6e9; // farm dark
$hcll: #8df; // lake light

$hcstl: #e9dccc; // stone light
$hcstd: #ca8; // stone dark
$hcww: #ffe; // whitewash
$hcth: #fe9; // thatch
$hcwwl: #db9; // wood light
$hcwwd: #b53; // wood dark

// --------------------------------------------------------
// in the box showing how many hexes are left...
$stackitemwidth: $gutter * 2; // how wide is an item?
$stackitemthickness: 2px; // how thick is a single item?
$stackitemgap: 2px; /// how far between?
$stackitemc: $boardc;

// --------------------------------------------------------
// exported stuff is available to js
:export {
	sqrt3: $sqrt3;
	side: $side;
	gutter: $gutter;
	endsize: $endsize;
	sidec: $sidec;
	insidec: $insidec;
	grids: $grids;
	gridc: $gridc;
	basefont: $basefont;
}