

@import './_variables';

@import url(https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Amarante&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Rakkas&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Mirza:wght@400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap);


* { box-sizing: inherit; }
html { box-sizing: border-box; }

.hex {
	text-align: center;
	line-height: 1.2;
	margin: 0;
	position: absolute;
	height: ($side * 2 * $sqrt3 / 2);
	width: (1 * $side);
	padding: $gutter;
	background-color: $hcbg;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: $basefont;
	font-family: 'PT Sans Narrow', sans-serif;
	text-shadow:
		0 0 2px #fff, 0 0 2px #fff,
		0 0 2px #fff, 0 0 2px #fff,
		0 0 2px #fff, 0 0 2px #fff,
		0 0 2px #fff, 0 0 2px #fff,
		0 0 2px #fff, 0 0 2px #fff,
		0 0 6px #fff;
	shape-outside: polygon(
		(1/2 * $side)    0,
		(3/2 * $side)    0,
		(4/2 * $side)    ($side * 2 * $sqrt3 / 2 / 2),
		(3/2 * $side)    ($side * 2 * $sqrt3 / 2),
		(1/2 * $side)    ($side * 2 * $sqrt3 / 2),
		(0/2 * $side)    ($side * 2 * $sqrt3 / 2 / 2)
	);
}
.hex:before, .hex:after {
	box-sizing: border-box;
	position: absolute;
	content: '';
	border: inherit;
	padding: inherit;
	background-color: inherit;
	z-index: -1;
	left: 0; right: 0; top: 0; bottom: 0;
}
.hex:before { transform: rotate(60deg); }
.hex:after { transform: rotate(-60deg); }

.hex .hexrow {
	margin: 0 ( -1 * ( ($gutter * $sqrt3/4) + (($endsize) * $gutter * $sqrt3/3) ));
}
.hex .hexrow p {
	margin: 0;
}
.hex .hexrow.title {
    position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;

	/* font-family: 'Amarante', sans-serif; */
	font-family: 'Berkshire Swash', 'PT Sans Narrow', sans-serif;
	font-size: 120%;
    text-align: center;
    line-height: 1;

    margin: 0 (-1 * $gutter * $sqrt3/4);
	min-height: ($gutter * $endsize);

    border-bottom: 1px dotted #ccc;
    padding: 0.33em 0 0.66em;
}
.hex .hexrow.title .type {
    font-size: 70%;
    position: absolute;
    font-family: 'PT Sans Narrow';
    line-height: 1em;
    bottom: -0.5em;
    left: 0;
    right: 0;
    text-align: center;
}
.hex .hexrow.title .type span {
    padding: 0 0.5em;
    background-color: white;
    border: 1px solid #ccc;
    border-width: 0 1px;
    border-radius: 0.5em;
}

.hex .hexrow.footer {
    display: flex;
    flex-direction: column;
	margin: 0 (-1 * $gutter * $sqrt3/4);
    min-height: ($gutter * $endsize);
    justify-content: center;
    border-top: 1px dotted #ccc;
}

.hex .hexedge {
	position: absolute;
	top: 0;	left: 0; right: 0;
	height: $gutter;
	line-height: $gutter;
	border-top: 1px solid $sidec;
    transform-origin: 50% ($side * 2 * $sqrt3 / 2 / 2);
    color: #aaa;
    font-weight: 100;
    font-size: 90%;
	z-index: 1;
}
.hex.selected .hexedge       { background-color: $selectedc; }
.hex:hover .hexedge          { background-color: $hoverc;    }
.hex.selected:hover .hexedge { background-color: $selhoverc; }

.hex .hexedge .edgearrow {
    opacity: 0.33;
}
.hex .hexedge:after {
    position: absolute;
	content: '';
	left: ($gutter * $sqrt3/3);
	right: ($gutter * $sqrt3/3);
	bottom: 0;
	border-bottom: 1px solid $insidec;
}
.hex .hexedge.ne { transform: rotate(60deg); }
.hex .hexedge.se { transform: rotate(120deg); }
.hex .hexedge.s  { transform: rotate(180deg); }
.hex .hexedge.sw { transform: rotate(240deg); }
.hex .hexedge.nw { transform: rotate(300deg); }

// -- background imagess ----------------------------------

.hex.impassable {
	background-image: linear-gradient(
		45deg,
		transparent,
		transparent 47%, $hcwl 47%,
		$hcwl 53%, transparent 53%,
		transparent
	), linear-gradient(
		135deg,
		transparent,
		transparent 47%, $hcwl 47%,
		$hcwl 53%, transparent 53%,
		transparent
	);
	background-repeat: no-repeat;
	background-position: center;
}

.hex.start {
	background-image: linear-gradient(
		to bottom,
		$hcwl,
		$hcwl 20%, transparent 20%,
		transparent 80%, $hcwl 80%,
		$hcwl
	), radial-gradient(
		circle at 50% 25%,
		$hcwl,  $hcwl ($side * 4/17),  $hcwd ($side * 4/17),
		$hcwd ($side * 2/7),  transparent ($side * 2/7)
	), radial-gradient(
		circle at 50% 75%,
		$hcwl,  $hcwl ($side * 4/17),  $hcwd ($side * 4/17),
		$hcwd ($side * 2/7),  transparent ($side * 2/7)
	);
	background-size: ($side * 1/3), auto, auto;
	background-repeat: no-repeat;
	background-position: center;
}
.hex.wallConstruction {
	background-image: linear-gradient(
		to bottom,
		$hcwl,
		$hcwl 25%, transparent 25%,
		transparent 75%, $hcwl 75%,
		$hcwl
	), repeating-linear-gradient(
		45deg,
		$hcwl,
		$hcwl $side * 1/15, transparent $side * 1/15,
		transparent $side * 2/15, $hcwl $side * 2/15
	);
	background-size: ($side * 1/3);
	background-repeat: no-repeat;
	background-position: center;
}
.hex.gate {
	background-image: linear-gradient(
		to right,
		$hcwd, $hcwd 14%, transparent 14%,
		transparent 86%, $hcwd 86%, $hcwd
	), linear-gradient(
		to right,
		$hcwd, $hcwd 14%, transparent 14%,
		transparent 86%, $hcwd 86%, $hcwd
	), linear-gradient(
		to bottom,
		$hcwl,
		$hcwl 44%, $hcwd 44%,
		$hcwd 47%, transparent 47%,
		transparent 53%, $hcwd 53%,
		$hcwd 56%, $hcwl 56%,
		$hcwl
	);
	background-size: ($side * 1/3) 9%, ($side * 1/3) 9%, ($side * 1/3);
	background-repeat: no-repeat;
	background-position: center 40%, center 60%, center;
}
.hex.wallNS {
	background-image: linear-gradient(
		to right,
		transparent,
		transparent ($side * 1/3), $hcwl ($side * 1/3),
		$hcwl ($side * 2/3),  transparent ($side * 2/3),
		transparent
	);
}
.hex.farms {
	background-image: radial-gradient(
		circle at 35% 25%, $hcfl, $hcfl ($side * 1/4), transparent ($side * 1/4)
	), radial-gradient(
		circle at 75% 50%, $hcfl, $hcfl ($side * 1/4), transparent ($side * 1/4)
	), radial-gradient(
		circle at 35% 75%, $hcfl, $hcfl ($side * 1/4), transparent ($side * 1/4)
	);
}
.hex.farmlarge {
	background-image: radial-gradient(
		circle at 50% 50%,
		$hcfl, $hcfl ($side * 1/2),  transparent ($side * 1/2)
	);
}
.hex.farmlake {
	background-image: radial-gradient(
		ellipse at 50% 50%,
		$hcll, $hcll ($side * 1/3),  transparent ($side * 1/3)
	), radial-gradient(
		ellipse at 50% 50%,
		$hcfl, $hcfl ($side * 1/2),  transparent ($side * 1/2)
	);
	background-size: 100% 35%, 100% 37%;
	background-repeat: no-repeat;
	background-position: 50% 66%, 50% 57%;
}
.hex.farmgrove {
	background-image: radial-gradient(
		closest-side, $hcfd, $hcfd 100%,  transparent
	), radial-gradient(
		closest-side, $hcfd, $hcfd 100%,  transparent
	), radial-gradient(
		closest-side, $hcfd, $hcfd 100%,  transparent
	), radial-gradient(
		ellipse at 50% 50%,
		$hcfl, $hcfl ($side * 1/3),  transparent ($side * 1/3)
	);
	background-size: 10% 20%, 10% 20%, 10% 20%, 100% 20%;
	background-repeat: no-repeat;
	background-position: 40% 55%, 50% 57%, 60% 53%, 50% 66%;
}
.hex.farminn {
	background-image: radial-gradient(
		closest-side, $hcwwd, $hcwwd 100%, transparent
	), radial-gradient(
		closest-side, $hcwwd, $hcwwd 100%, transparent
	), radial-gradient(
		closest-side, $hcwwd, $hcwwd 100%, transparent
	), radial-gradient(
		closest-side, $hcfd, $hcfd 100%, transparent
	), radial-gradient(
		closest-side, $hcfd, $hcfd 100%, transparent
	), radial-gradient(
		closest-side, $hcfl, $hcfl 100%, transparent
	), radial-gradient(
		closest-side, $hcstl, $hcstl 90%, $hcwwd 90%, $hcwwd 100%, transparent
	);
	background-size: 7% 4%, 7% 4%, 13% 8%, 11% 15%, 11% 15%, 100% 10%, 80% 25%;
		background-repeat: no-repeat;
	background-position: 43% 55%, 54% 55%, 26% 56%, 78% 58%, 67% 60%, 50% 66%, 50% 58%;
}
.hex.plainsinn {
	background-image: linear-gradient(
		-50deg, transparent 10px, $hcth 10px, $hcth 20px, transparent 20px
	), linear-gradient(
		-50deg, transparent 10px, $hcth 10px, $hcth 20px, transparent 20px
	), linear-gradient(
		50deg, transparent 10px, $hcth 10px, $hcth 20px, transparent 20px
	), linear-gradient(
		50deg, transparent 10px, $hcth 10px, $hcth 20px, transparent 20px
	), linear-gradient(
		to top,
		$hcstl, $hcstl 30%,
		$hcwwd 30%, $hcwwd 34%,
		$hcstl 34%, $hcstl 64%,
		$hcwwd 64%, $hcwwd 68%,
		$hcstl 68%, $hcstl
	), radial-gradient(
		closest-side, $hcfl, $hcfl 100%, transparent
	);
	background-size: 25% 20%, 25% 20%, 25% 20%, 25% 20%, 50% 20%, 90% 20%;
	background-repeat: no-repeat;
	background-position: 20% 38%, 63% 38%, 53% 38%, 95% 38%, 60% 55%, 50% 66%;
}
