
@import './_variables';

.scrollwrapper {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	overflow: scroll;
	background-color: transparent;
}
.hexboard {
	// size is set in js
	box-sizing: border-box;
	position: relative;
	background: transparent;
}
.hexboard:after {
content: '';
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	background-color: $boardc;
	z-index: -2;
}
